{# src/minsal/casamunozempresaBundle/Resources/views/Default/index.html.twig #}
{% extends 'casamunozempresaBundle::plantilla.html.twig' %}
 
{% block body %}
<h1>¡¡¡¡¡ Bienvenido !!!!!</h1>
{% endblock %}
