# Archivos de respaldo
*~
 
# Archivo de configuración de la personalización del comportamiento del directorio para KDE
.directory
 
# Bootstrap
app/bootstrap*
 
# Directorios de Symfony
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
 
# Archivos de configuración
app/config/parameters.ini
app/config/parameters.yml
 
#Carpeta de configuración del proyecto de NetBeans
nbproject/
