{# src/minsal/casamunozempresaBundle/Resources/views/Default/index.html.twig #}
{% extends 'casamunozempresaBundle::layout.html.twig' %}
 
{% block body %}
<h1>LADO DE LOS ADMINISTRADORES</h1>
{% endblock %}

