{% extends 'casamunozempresaBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>Empleado creation</h1>

   <center> {{ form(form) }} </center>

        <ul class="record_actions">
    <li>
        <a href="{{ path('empleado') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
