{% extends 'casamunozempresaBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>Registro de Persona</h1>

   <center> {{ form(form) }} </center>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente_new') }}">
            Ir paso 2/2
        </a>
    </li>
</ul>
{% endblock %}
